#intro {
  padding-top: 5rem;
  position: relative;
  height: 100px;
  overflow: hidden;
}

.map-container {
  position: relative;
  width: 100%;
}

.map-road {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: translateY(-50%);
}

.map-marker {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 50%;
  transform: translateY(-50%);
  padding: 10px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.map-marker img {
  max-width: 50px;
  max-height: 50px;
  object-fit: contain; 
  transition: transform 0.3s ease;
  border-radius: 50%;
  cursor: pointer;
}
.map-marker:hover img {
  transform: scale(1.4); 
}

.label {
  position: absolute;
    top: 110%;
    left: 50%; 
    transform: translate(-50%, 0);
    text-align: center;
    font-size: 20px;
}

.map-marker[data-stage="1"] {
  left: 6%;
  background-color: #edf04e; 
}

.map-marker[data-stage="2"] {
  left: 22%; 
  background-color: #d9534f;
}

.map-marker[data-stage="3"] {
  left: 37%; 
  background-color: white;
}

.map-marker[data-stage="4"] {
  left: 52%; 
  background-color: #5bc0de;
}

.map-marker[data-stage="5"] {
  left: 68%; 
  background-color: white;
}

.map-marker[data-stage="6"] {
  left: 85%; 
  background-color: #5cb85c;
} 

#projects {
  margin-top: 50px;
}

#projects h1 {
  margin-bottom: 3rem;
  text-align: center;
  color: #333;
  font-size: 5rem;
  animation: fadeInDown 2s ease-out;
  text-decoration: underline;
}
@keyframes fadeInDown {
  from {
      opacity: 0;
      transform: translateY(-300px);
  }
  to {
      opacity: 1;
      transform: translateY(0);
  }
}

.project-heading{
  text-align: center;
  font-size: 1rem;
  margin-bottom: 2rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.projects-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  padding: 0 2rem;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 350px;
  /* width: 100%; */
  background-color: #ffffff;
  border-style: groove;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}

.project-card:hover {
  transform: translateY(-15px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

.project-image {
  background-size: cover;
  background-position: center;
  height: 100%;
  transition: transform 0.5s ease;
}

.project-card:hover .project-image {
  transform: scale(1.1);
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.1rem;
  height: 100%;
  position:absolute;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(12px);
}

.project-info h2 {
  margin: 0 0 1rem;
  padding-top: 2rem;
  color: black;
  text-align: center  ;
  font-family:Helvetica, sans-serif;
}

.project-info p {
  justify-self: start;
  padding: 1.5rem;
  padding-top: 2rem;
  color: black;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
}

.project-info a {
  text-decoration: none;
  background-color: #007bff;
  border-radius: 4px;
  margin-top: auto;
  color: white;
  display: inline-block;
  padding:0.5rem 1rem;
  text-align: center;
  font-family: Poppins;
  width: fit-content;
  align-self:center;
  margin-bottom: 2rem;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
}

.project-info a:hover {
  text-decoration: underline;
}
.project-info a{
  text-decoration: none;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.project-image{
  background: url("../../asset/gdg_logo.png")center center/cover no-repeat;
}