.footer{
  color: #d9d9d9;
  background-color: #323232;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px 8vw;
  padding-top: 80px;
  margin-top: 100px;
}
.footer-container{
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 80px;
}
.left , .right , .center{
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}
.left img{
  width: 100px;
}
.left li , .right li , .center li{
  list-style: none;
  margin-bottom: 10px;
  cursor: pointer;
  &:hover{
    color: rgb(160, 160, 202);
  }
}
.right h2 , .center h2{
  color: white;
}
.social-icons{
  display: flex;
}
.social-icons .icons{
  width: 40px;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.5s ease;
  &:hover{
    transform: translateY(-10px);
  }
}
.footer hr{
  width: 100%;
  height: 2px;
  margin: 2px 0;
  background-color: grey;
  border: none;
}
@media (max-width:750px) {
  .footer-container{
    display: flex;
    flex-direction: column;
    gap: 35px;
  }
  .copyright{
    text-align: center;
  }
}